html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #6df;
}

.full-screen-background {
    background-color: #6df;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

body {
    background-color: #6df;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*缺少下面这些会导致 iOS Safari 的屏幕键盘改变可是视窗尺寸*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #6df;
}

.App-link {
    color: #6df;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* 关闭文本选择，避免触屏操作时长按触发文本复制 */
* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ 和 Edge */
    user-select: none; /* 标准语法 */
}
